<div class="container">
    <div class="row">
        <div class="col-5">
            <h1>Bar chart</h1>  
            <canvas id="barCharts"></canvas>
        </div>
        <!-- <div class="row"> -->

            <div class="col-5">
                <h1>piechart</h1>  
                <canvas id="pieCharts"></canvas>
            </div>
        <!-- </div> -->
        <div class="col-5">
            <h1>donutchart</h1>  
            <canvas id="donutCharts"></canvas>
        </div>
        <div class="col-5">
            <h1>polarcharts</h1>  
            <canvas id="polarCharts"></canvas>
        </div>
    </div>
</div>

